<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Libreria Virtual</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{../css/index.css}">
</head>
<body>
	<div class="container mt-4">
						
		<div class = "agregar"> 
			<a th:href="@{/new}" class="btn btn-primary" > Agregar</a>
		</div> 

	<div class = "buscar">
		<form th:action="@{/}">
			<input type="text" name="keyword" placeholder= "¿Qué estas buscando?" th:value="${keyword}" required />
			&nbsp;
			<input type="submit" value="Buscar" class = "boton" />
			&nbsp;
			<input type="button" value="Volver" class = "boton" th:onclick="volverAtras()" />
		</form>
	</div>

	<h2 th:if="${libros.isEmpty()}" class = "titulo">No hay libros</h2>	
	<div th:if="${!libros.isEmpty()}" class="panel-heading">
		<h1 class = "titulo">Libros</h1>
			<div class="card-columns">
				<div th:each="libro : ${libros}">
					
						
							<div class="card m-1 p-1">
								
								<img class="imagen" th:src="@{'/uploads/'+${libro.foto}}"
								th:alt="${libro.foto}"/>
								
								
									<p>
									<h6 th:text="${libro.isbn}"></h6></p>
									<h4 class="textos" th:text="${libro.titulo}"></h4></p>
									<h4 th:text="${libro.autor}"></h4></p>
									
									
										<h5 th:text="${libro.genero}"></h5></p>
										Edicion: <h7 th:text="${libro.edicion}"></h7></p>
										Stock: <h7 th:text="${libro.stock}"></h7></p>
										<a th:href="@{/editar/}+${libro.isbn}"  class="btn btn-warning">Editar</a>
										<a th:onclick="eliminar([[${libro.isbn}]])" class="btn btn-danger">Eliminar</a>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<nav aria-label="Pagination">
						<ul class="pagination justify-content-center">
							<li class="page-item" th:each="page : ${pages}">
								<a class="page-link" th:href="@{|/?page=${page}|}" th:text="${page}"></a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-md-2"></div>
			</div>
		
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>
</body>
</html>